 body {
     height: 100%;
     margin: 0;
     padding: 0;
 }

 @media screen and (min-width: 1740px) {

     .modelo,
     #imagem {
         z-index: 2;
         position: absolute;
         height: 90%;
         left: 50%;
         bottom: 0;
         transform: translateX(-50%);
         animation: pagina 4s alternate;
     }

     .circulo {
         z-index: 1;
         position: absolute;
         border-radius: 50%;
         width: 40%;
         height: 80%;
         top: 12%;
         transform: translateX(-50%);
         left: 50%;
         background-color: #e6b938;
         box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);

     }

     .barra-menu {
         display: none;
     }

     .barra-lateral {
         z-index: 1;
         position: absolute;
         width: 0.1em;
         height: 57%;
         top: 20%;
         left: 6em;
         background-color: black;

     }

     .menu-marca,
     li {
         position: relative;
         left: 1%;
         display: inline-block;
         margin-right: 30px;
     }

     .menu-marca,
     #nome-marca {
         font-size: 23px;
         letter-spacing: -0.12em;
         font-weight: bold;
         font-family: Arial, Helvetica, sans-serif;
     }

     .menu-principal,
     #opcoes {
         position: relative;
         display: inline-block;
         margin-right: 5em;
         left: 35%;
         font-size: 20px;
         font-family: Arial, Helvetica, sans-serif;
         cursor: pointer;

     }

     .rede-social {
         position: absolute;
         margin-top: 7em;
         margin-right: 5em;
         left: 98em;

     }

     .rede-social li {
         position: relative;
         display: block;
         font-size: 50px;
         margin-bottom: 0.5em;
         cursor: pointer;
     }

     a {
         color: black;
         text-decoration: none;
     }

     .arrows {
         position: absolute;
         margin-top: 35em;
         left: 94em;
         margin-bottom: 0.5em;
         cursor: pointer;
     }

     .arrows li {
         position: relative;
         display: inline;
         font-size: 4em;
     }

     .texto-principal {
         z-index: 2;
         position: absolute;
         max-width: 26%;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         font-size: 45px;
         left: 12%;
         top: 34%;
         letter-spacing: 0.05em;
     }

     .texto-secundario {
         z-index: 2;
         position: absolute;
         max-width: 26%;
         font-size: 1em;
         left: 5.9em;
         top: 78%;
         color: rgb(196, 196, 196);
         font-family: Georgia, 'Times New Roman', Times, serif;
         word-spacing: 0.1em;
     }


     /* icones */

     .fa-shirt {
         font-size: 80px;
     }

     /* Transições */
     @keyframes pagina {
         from {
             left: 0
         }

         to {
             left: -100
         }
     }
 }

 @media screen and (max-width: 428px) {

     .modelo,
     #imagem {
         z-index: 2;
         position: absolute;
         width: 100%;
         left: 50%;
         bottom: 0;
         transform: translateX(-50%);
         animation: pagina 4s alternate;
     }

     .circulo {
         display: block;
         z-index: 1;
         position: absolute;
         border-radius: 50%;
         width: 90%;
         height: 62%;
         top: 20%;
         transform: translateX(-50%);
         left: 100%;
         background-color: #e6b938;
         box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);

     }

     .barra-lateral {
         z-index: 1;
         position: absolute;
         width: 14em;
         height: 0.2em;
         top: 6.5em;
         left: 3em;
         background-color: #e6b938;

     }

     .menu-marca,
     li {
         position: relative;
         left: 1%;
         display: inline-block;
         margin-right: 15px;
     }

     .menu-marca,
     #nome-marca {
         font-size: 12px;
         letter-spacing: -0.12em;
         font-weight: bold;
         font-family: Arial, Helvetica, sans-serif;
     }


     #opcoes {
         display: none;
         position: relative;
         display: inline-block;
         margin-right: 5em;
         left: 35%;
         font-size: 20px;
         font-family: Arial, Helvetica, sans-serif;
         cursor: pointer;

     }

     .rede-social {
         position: absolute;
         left: 0;
         top: 4em;
     }

     .rede-social li {
         position: relative;
         top: 10%;
         font-size: 20px;
         left: 10%;
         margin-right: 0.1em;
         cursor: pointer;
     }

     .menu-principal a {
         display: none;
         color: black;
         text-decoration: none;
     }

     .rede-social a {

         color: black;
         text-decoration: none;

     }

     .arrows {
         display: none;
         position: absolute;
         margin-top: 35em;
         left: 94em;
         margin-bottom: 0.5em;
         cursor: pointer;
     }

     .arrows li {
         display: none;
         position: relative;
         display: inline;
         font-size: 4em;
     }

     .texto-principal {
         z-index: 2;
         position: absolute;
         max-width: 26%;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         font-size: 40px;
         left: 12%;
         top: 14%;
         letter-spacing: 0.05em;
     }

     .texto-secundario {
         display: none;
         z-index: 2;
         position: absolute;
         max-width: 26%;
         font-size: 1em;
         left: 5.9em;
         top: 78%;
         color: rgb(196, 196, 196);
         font-family: Georgia, 'Times New Roman', Times, serif;
         word-spacing: 0.1em;
     }

     .barra-menu {
         position: absolute;
         right: 5%;
         top: 2%;
     }


     #itens-menu {
         z-index: 3;
         position: absolute;
         display: block;
         padding-left: 20px;
         padding-right: 20px;
         right: -50%;
         max-height: 500px;
         background-color: white;
         box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.8);
         font-size: 12px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         animation: fadeIn 2s;
     }


     .quadro {
         position: relative;
         height: 2px;
         width: 125%;
         padding: 10px;
         margin-left: -20px;
         box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
         border-radius: 5px;
     }

     #itens-menu,
     a {
         color: black;
         text-decoration: none;
     }

     /* icones */

     .fa-shirt {
         font-size: 28px;
     }

     .fa-bars {
         font-size: 28px;
         color: #e6b938;
     }

     /* Transições */

     @keyframes fadeIn {
         0% {
             opacity: 0;
         }

         100% {
             opacity: 1;
         }
     }

     @keyframes pagina {
         from {
             left: 0
         }

         to {
             left: -100
         }
     }

 }